@use '@/styles/colors.scss' as c;
@use '@/styles/mixin.scss' as m;

.loader {
  @include m.flex(null, center, center);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: c.$brand_gray;
  opacity: 0.5;
}
