@use '@/styles/themes' as themes;

@each $theme-name in map-keys(themes.$themes) {
  html.theme-#{$theme-name} {
    a {
      position: relative;
      display: inline-block;

      color: themes.theme-color($theme-name, link);

      font-weight: normal;

      cursor: pointer;
      text-decoration: none;
    }

    a:visited {
      color: themes.theme-color($theme-name, link);
    }

    a:after {
      position: absolute;
      display: block;
      height: 2px;
      width: 0;
      left: 50%;

      background-color: themes.theme-color($theme-name, link);

      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%);

      content: '';
    }

    a:hover:after,
    a:focus:after {
      width: 100%;
    }
  }
}
