@use '@/styles/index' as styles;

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include styles.flex(null, center, null);
  scroll-behavior: smooth;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 27px;
  font-size: 22px;
  max-width: 1840px;
  margin: 0 auto;
  background-color: transparent;

  section {
    margin-bottom: 30px;
  }
}

@each $theme-name in map-keys(styles.$themes) {
  html.theme-#{$theme-name} {
    body {
      background-color: styles.theme-color($theme-name, background);
      color: styles.theme-color($theme-name, text);
    }

    a,
    a:link,
    a:visited {
      color: styles.theme-color($theme-name, link);
    }
  }
}

@media (max-width: 1199px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 1839px) {
  body {
    width: 95%;
    margin: 0 auto;
  }
}
