@use '@/styles/mixin' as *;
@use '@/styles/underline' as *;

.header {
  @include flex(row, space-between, null);
  align-items: center;

  height: 45px;
  margin-bottom: 40px;

  font-weight: 900;

  span {
    @include underline-effect();
  }
}

@media (max-width: 700px) {
  .header {
    margin: 0 0 30px 0;
  }
}
