@use '@/styles/colors' as *;

.slides {
  margin-bottom: 50px;

  width: 100%;

  .slide {
    position: relative;

    &__image {
      max-width: 100%;
      height: 100%;
      width: auto;

      border-radius: 5px;
    }

    .slide__leftArrow,
    .slide__rightArrow {
      position: absolute;
      z-index: 1;
      top: 0;

      width: 25%;
      height: calc(100% - 6px);

      border-radius: 5px;
      background-color: transparent;

      opacity: 0;
      transition: 0.3s all ease;
      cursor: pointer;
      pointer-events: auto;
    }

    .slide__leftArrow {
      left: 0;
    }

    .slide__rightArrow {
      right: 0;
    }

    .slide__leftArrow:hover {
      opacity: 0.3;
      background: linear-gradient(-90deg, transparent, black)
        transparent;
    }

    .slide__rightArrow:hover {
      opacity: 0.3;
      background: linear-gradient(90deg, transparent, black)
        transparent;
    }

    .slide__image {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }

    > div {
      > div {
        &:has(span) {
          z-index: 1000;
          text-align: center;
          background-color: #464646c4;
          padding: 15px;
          bottom: 0;
          border-radius: 5px;
          margin: auto;
          bottom: 1.5rem;
          
          span {
            background-color: aliceblue;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .slide__leftArrow,
  .slide__rightArrow {
    pointer-events: none;
    display: none;
  }
}
