@use '@/styles/mixin' as *;

.slides {
  margin-bottom: 30px;

  .keen-slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100% !important;
    max-width: 100% !important;

    overflow: hidden;
    position: relative;
  }

  .slide {
    position: relative;

    &__image {
      display: block;

      width: 100%;
      height: auto;
      object-fit: contain;

      border-radius: 5px;

      pointer-events: auto;
    }
  }

  .slide__wrapper {
    position: relative;

    .dots {
      position: absolute;
      right: 0;

      display: flex;
      justify-content: center;

      margin-top: 22px;
      gap: 8px;

      .dot {
        width: 12px;
        height: 12px;

        background-color: #7a7a7a;

        border-radius: 50%;
        border: none;

        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .dot:hover {
        background-color: #999;
      }

      .active {
        background-color: rgb(20, 20, 20);
      }
    }
  }

  p {
    margin-top: 15px;
  }
}

@media (max-width: 900px) {
  .slides {
    .slide__wrapper {
      .dots {
        margin: 0;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 450px) {
  .slides {
    .slide__wrapper {
      .dots {
        display: none;
      }
    }
  }
}
