.slides {
  position: relative;

  .slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .imageWrapper {
    position: relative;
    width: 100%;
  }
  
  .slideImage {
    object-fit: cover;
    border-radius: 15px;
  }
}

