.tooltip_mount {
  position: absolute;
  bottom: 120%;

  margin-left: 26px;
  padding: 4px 8px;

  transform: translateX(-75%);

  background-color: var(--color-accent);
  color: var(--color-tooltip);

  border-radius: 10px;

  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.75rem;

  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 10;

  span {
    color: var(--color-tooltip);
  }
}

.tooltip_mount::after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: '';
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid var(--color-accent);
  line-height: 0;
}
