@use '@/styles/themes' as *;
@use '@/styles/mixin' as mixin;

@each $theme-name in map-keys($themes) {
  .toggle {
    @include mixin.flex(null, center, end);

    height: 100%;

    font-size: 11px;
    line-height: 15px;

    input[type='checkbox'] {
      display: none;
    }

    label {
      position: relative;
      cursor: pointer;
    }

    input[type='checkbox'] + label::before {
      position: absolute;
      top: -20px;
      left: 14px;

      display: block;

      height: 21px;
      width: 45px;

      border: 1px solid theme-color($theme-name, button-color);
      border-radius: 5px;

      content: ' ';
    }

    input[type='checkbox'] + label::after {
      position: absolute;
      top: -17px;
      left: 17px;

      display: block;

      height: 15px;
      width: 15px;

      border: 1px solid theme-color($theme-name, border);
      border-radius: 5px;

      background: theme-color($theme-name, background);
      transition: all 0.3s ease-in;

      content: ' ';
    }

    input[type='checkbox']:checked + label::after {
      left: 41px;
      transition: all 0.3s ease-in;
    }
  }
}
